<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="../static/js/url-list-main.js" defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<div>
    <div>
        <a>url list 페이지</a>
    </div>
    <div class="search">
        <input type="text" placeholder="검색어 입력">
        <button type="submit" onclick=""> 검색버튼 </button>
    </div>
    <div class="urlList">
        <a>사이트제목</a>
        <button>편집버튼</button>
        <button>삭제버튼</button>
    </div>
</div>
</body>
</html>

